{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
  </br>
</br>
    <h2> Registered </h2>


      <table id="customers">
          <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>City</td>
            <td>View</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
           </thead>

        {{ range . }}
          <tr>
            <td>{{ .Id }}</td>
            <td> {{ .Name }} </td>
            <td>{{ .City }} </td>
            <td><a class="btn btn-primary" href="/show?id={{ .Id }}">View</a></td>
            <td><a class="btn btn-primary" href="/edit?id={{ .Id }}">Edit</a></td>
            <td><a class="btn btn-primary" href="/delete?id={{ .Id }}">Delete</a><td>
          </tr>
        {{ end }}

        </table>
  {{ template "Footer" }}
{{ end }}
