{{ define "Menu" }}


</br>
<a class="btn btn-primary" href="/" role="button">HOME</a>
<a class="btn btn-primary" href="/new" role="button">NEW</a>
<a class="btn btn-primary" href="/search" role="button">SEARCH</a>

{{ end }}
