{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
  </br></br>
    <h2> Register {{ .Id }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>City:  {{ .City }}</p>

    </br>
      <a class="btn btn-primary" href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}
